:root{
  --clr-primary-500:hsl(0, 0%, 5%);
  --clr-accent-500:hsl(108, 100%, 50%);
}
*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App{
  background: var(--clr-primary-500);
  height:100vh;
}