.sidenav-list{
    padding:1rem 0;
    height:95vh;
    width:2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--clr-primary-500);
    color: var(--clr-accent-500);
    text-align: center;
    box-shadow: 0 12px 12px 2px var(--clr-accent-500);
}