.navbar-container{
    padding:0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--clr-primary-500);
    color: var(--clr-accent-500);
    height:var(--navbar-height);
}
button,
a{
    background: none;
    border:none;
    padding: 0.25rem;
    color: var(--clr-accent-500);
    text-decoration: none;
}