h3{
    margin:1rem 0 ;
}
.form{
    height:100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12,1fr);
    gap:0.25rem;
}
.form-field > *{
    width: 100%;
}
.form-field input{
    padding: 0.5rem;
}
.form-field-button{
    background: var(--clr-primary-500);
    color: var(--clr-accent-500);
}





.login{
    grid-column: 3 / 11;
}
.signup{
    grid-column: 3 / 11;
}

// FLHA Styling
.jobLocation{
    grid-column: span 4;
}
.supervisor{
    grid-column: span 4;
}
.primarytask{
    grid-column: span 4;
}

.job-task-container{
    grid-column: span 4;
    grid-row: span 2;
    overflow-y: hidden;
}
.job-task-container-grid{
    height: fit-content;
    grid-template-columns: repeat(3, 1fr);

}
#task,
#hazard,
#control{
    grid-column: span 2;
}
//FLHA Buttons
.flha-submit{
    grid-column: 7 / 12;
    grid-row: 11 / 12;
}
.add-job-task{
    // position: absolute;
    // right:0.5rem;
    // bottom:4rem;
    grid-column: 2 / 7;
    grid-row: 11 / 12;
    padding:0.5rem;
}
